####################################
# MODELS (NICHT COMMITTEN)
####################################
models/
!models/README.md

####################################
# DATA / REPORTS / OCR OUTPUTS
####################################
data/
outputs/
reports/
*.pdf
*.json
*.csv
*.log
*.zip
*.tar

####################################
# PYTHON
####################################
__pycache__/
*.pyc
*.pyo
*.pyd

####################################
# VIRTUAL ENVIRONMENTS
####################################
.venv/
.venv_ubo/
venv/
env/

####################################
# DOCKER
####################################
.dockerignore
docker-compose.yml

####################################
# OS / IDE
####################################
.DS_Store
.vscode/
.idea/

####################################
# SECRETS
####################################
.env
